<!--<div class="row">-->
  <!--<div class="col-md-12">-->
    <!--<div class="tabbable" id="tabs-383668">-->
      <!--<ul class="nav nav-tabs">-->
        <!--<li>-->
          <!--<a href="#panel-900541" data-toggle="tab">Section 1</a>-->
        <!--</li>-->
        <!--<li class="active">-->
          <!--<a href="#panel-635775" data-toggle="tab">Section 2</a>-->
        <!--</li>-->
      <!--</ul>-->
      <!--<div class="tab-content">-->
        <!--<div class="tab-pane" id="panel-900541">-->
          <!--<p>-->
            <!--I'm in Section 1.-->
          <!--</p>-->
        <!--</div>-->
        <!--<div class="tab-pane active" id="panel-635775">-->
          <!--<p>-->
            <!--Howdy, I'm in Section 2.-->
          <!--</p>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<div class="container">
  <div class="col-md-12">
    <div class="carousel slide" id="myCarousel">
      <div class="carousel-inner">
        <div class="item active">
          <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4">
            <a href="#"><img src="http://lorempixel.com/400/200/sports" class="img-responsive">1</a></div>
        </div>
        <div class="item">
          <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4">
            <a href="#"><img src="http://lorempixel.com/400/200/" class="img-responsive">2</a></div>
        </div>
        <div class="item">
          <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4">
            <a href="#"><img src="http://lorempixel.com/400/200/sports" class="img-responsive">3</a></div>
        </div>
        <div class="item">
          <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4">
            <a href="#"><img src="http://lorempixel.com/400/200/" class="img-responsive">4</a></div>
        </div>
        <div class="item">
          <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4">
            <a href="#"><img src="http://lorempixel.com/400/200/sports" class="img-responsive">5</a></div>
        </div>
        <div class="item">
          <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4">
            <a href="#"><img src="http://lorempixel.com/400/200/" class="img-responsive">6</a></div>
        </div>
        <div class="item">
          <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4">
            <a href="#"><img src="http://lorempixel.com/400/200/sports" class="img-responsive">7</a></div>
        </div>
        <div class="item">
          <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4">
            <a href="#"><img src="http://lorempixel.com/400/200/" class="img-responsive">8</a></div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
    </div>
  </div>
</div>