<section class="col-md-8">
    <h1>{{title}}</h1>
    <div class="row col-md-8">
        <search-box  (getText)="getText($event)"></search-box>
        <proximity-selector (getLocation)="getLocation($event)"
                            (getRadius)="getRadius($event)"
                            [disabled]="disableSearch || errorLocation"
                            [ngClass]="{ disabled: disableSearch }"></proximity-selector>
    </div>
    <!--<div class="row col-md-8 alert alert-danger" *ngIf="errorEmptySearch">-->
    <!--<p>Can't use geolocalization with an empty searchbox</p>-->
    <!--</div>-->
    <div class="row col-md-8 alert alert-warning" *ngIf="errorLocation">
        <p>{{ errorLocationMessage }}</p>
    </div>
    <div class="row col-md-8">
        <!--<p>-->
        <!--Try to type something in the searchbox, play with the location and with radius: the above state will-->
        <!--always be consistent and up to date.-->
        <!--</p>-->
        <pre><p class="state">{{ state | json }}</p></pre>
        <p class="state" *ngIf="disableSearch">state is empty</p>
        <h2 *ngIf="!disableSearch">Search results:</h2>
    </div>
    <div class="row col-md-8">
        <h2 *ngIf="disableSearch || searchResults.length == 0">No results</h2>
    </div>
    <div class="row col-md-8">
        <div *ngFor="let result of searchResults" class="thumbnail col-sm-6 col-md-4">
            <div class="caption">
                <h3>{{ result.title }}</h3>
            </div>
            <img src="{{ result.thumbnailUrl }}" />
        </div>
    </div>
    <!--<div class="row col-md-8">-->
    <!--<div class="carousel slide" id="myCarousel">-->
    <!--<div class="carousel-inner">-->
    <!--<div *ngFor="let result of searchResults; let i = index" class="item active">-->
    <!--<div class="col-lg-4 col-xs-4 col-md-4 col-sm-4">-->
    <!--<a href="#"><img src="{{ result.thumbnailUrl }}" class="img-responsive"></a></div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>-->
    <!--<a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>-->
    <!--</div>-->
    <!--</div>-->
</section>